[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "pre-commit-hooks"
version = "0.2.2"
description = ""
authors = ["Trim21 <i@trim21.me>"]
packages = [{ include = "pre_commit_hooks" }]

[tool.poetry.dependencies]
python = "^3.6.1"
"ruamel.yaml" = "0.16.10"
poetry = "^1.1.0"
tokenize-rt = "^4.0.0"

[tool.poetry.scripts]
yamlfmt = 'pre_commit_hooks.yamlfmt:main'
poetry_check_lock = 'pre_commit_hooks.poetry_check_lock:main'
find_trailing_comma = 'pre_commit_hooks.find_trailing_comma:main'

[tool.poetry.dev-dependencies]
# tests
pytest = "==5.4.3"
pytest-github-actions-annotate-failures = "==0.1.0"
coverage = "^5.1"
# linter and formatter
pre-commit = "==2.4.0"
flake8 = '==3.8.2'
flake8-comprehensions = "3.2.2"
flake8-bugbear = "20.1.4"
flake8-commas = "2.0.0"
flake8-mutable = "1.2.0"
flake8-broken-line = "0.2.0"
flake8-pytest-style = "1.1.1"
mypy = "==0.780"

[tool.isort]
default_section = 'THIRDPARTY'
indent = '    '
known_first_party = 'pre_commit_hooks'
length_sort = true
line_length = 88
multi_line_output = 3
no_lines_before = 'LOCALFOLDER'
use_parentheses = true
include_trailing_comma = true

[tool.pytest.ini_options]
addopts = '-rav'
